body {
//  padding-top: 3.5rem;
  background: #dde6ef;
}

.installer-header--container {
  // overriding the nested (row > col) margins so we can stretch the container width to page's width
  margin: 0px -30px; 

//  background: white;

  .installer-header--logo__container {
    background: #304e54;
  }

  .installer-header--logo__image {
    min-height: 300px;
    max-height: 450px;
    //margin-left: -30px;
  }

  .installer-header--steps__text {
    white-space: pre-line;
  }

  .installer-header--steps__done {
    @extend .bg-success;
  }

  .installer-header--steps__responseText {
    @extend .pre-text;
    @extend .hide-if-empty;

    word-break: break-all;
    border-radius: 0;
  }
}

/*

@include media-breakpoint-up(sm) {
  .some-class {
    display: block;
  }
}
*/