body {
  background: #white;
}

.installer--container {
}

.installer-header--container {
  // overriding the nested (row > col) margins so we can stretch the container width to page's width
  left: -15px;
  right: -15px;
/*   background-color: #101923;
  background-image: url(../img/gear-wheel-310906_960_720.png); */
  position: absolute;
  margin: 0;
  height: 100%;
  padding-top: 50px;

  .installer-header--logo__container {
    background: #304e54;
  }

  .installer-header--logo__image {
    @include z-depth(8);

    min-height: 300px;
    max-height: 450px;
    max-width: 100%;
  }

  .installer-header--steps__text {
    white-space: pre-line;
  }

  .installer-header--steps__done {
    @extend .bg-success;

    &:after {
      content: "\2713";
      position: absolute;
      top: 28px;
      right: 28px;
      font-size: 22px;
    }
  }

  .installer-header--steps__icon {
    margin-top: 1px;
    font-size: 27px;
    margin-left: -4px;    
  }

  .installer-step--navigation {
  }

  .installer-header--steps__responseText {
    @extend .pre-text;
    @extend .hide-if-empty;

    margin-left: 0px;
    word-break: break-all;
    border-radius: 0;
    white-space: pre-line;
  }
}

.installer-box {
  @include z-depth(4);
  padding: 1rem;
  background: #d2eaee;
}


.installer-step--title {
  font-size: 24px;
}

.installer-step--icon--container {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background: #325058;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    @include z-depth(4);
}

.installer-header--heading {
  color: #000000;
  font-weight: 500;

  &__inline {
    padding-bottom: 5px;
    border-bottom: 5px dotted #26963c;
  }
}


.installer-header--logo__caption {
  margin-top: -36px;
  font-size: 2rem;
  color: #101923;
}

.installer-step--navigation {
  min-height: 130px;
  @extend .clickable;

  .installer-step--title {
    padding: 15px;
  }

  &__active .installer-step--title {
    background: #80dbca;
  }
}
