.navbar , footer.footer {
    margin: 0px -15px;    
}

.navbar {
//    z-index: 2;
}

footer.footer {
    margin-top: 62px;

    .container-fluid {
        min-height: 62px;
    }
}

body, .wrapper {
    min-height: 100vh;
    height: 100vh;
}

.sidebar .sidebar-wrapper {
//    padding-top: 62px;
}