.sidebar .nav a.parameters-category__list-item--active {
    &:hover, &:focus, & {
        background: rgba(34, 34, 34, 0.58);
    }
}


$sidebar-active-bg: rgba(255, 255, 255, 0.23);

.parameters-sidebar__category-list {
    .parameters-sidebar__category-list-item {
        .parameters-sidebar__button-category-edit--active {
            background: $sidebar-active-bg;

            &:hover, &:focus, &:active {
                background: $sidebar-active-bg;
            }
        }
    }
}

