.categories--list-item {
    background: transparent;
}

.sidebar .nav a.categories--list__item.active {
    &:hover, &:focus, & {
        background: rgba(34, 34, 34, 0.58);
    }
}


$sidebar-active-bg: rgba(255, 255, 255, 0.23);

.parameters-category--list {
    .parameters-category--item {
        .parameters-category--editCategory-button__active {
            background: $sidebar-active-bg;

            &:hover, &:focus, &:active {
                background: $sidebar-active-bg;
            }
        }
    }
}


.categories--list__badge {
    position: absolute;
    right: 2px;
    top: calc(50% - 8px);
}