
.row.parameter-meta__container {
    text-align: center;
    display: block !important;
}

.parameter__parameter-label {
    display: inline-block;

    &--editable {
        border-bottom: 2px solid black;

        &:focus {
            outline: none;
        }
    }
}