.parameters-sidebar--container:after {
    background: #275f69;
}

.parameters-sidebar--logo {
    height: 120px;
}
.parameters-sidebar--logo__img {
    height: 100px;
    width: 100px;
    float: left;
}

.parameters-sidebar--logo__text {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
