.parameters-sidebar__container {
    background: $base-color;
    font-size: 1.5rem;
    
    .add-category__form {
        margin-left: 20px;
        margin-right: 20px;
    }

    .add-category__input {
        font-size: 20px;
    }

    .add-category__button--submit {
        &,
        &:hover,
        &:focus,
        &:active {
            color: white;
            border-color: white;
        }        
    }
}

.parameters-sidebar__logo {
    height: 120px;
}
.parameters-sidebar__logo-img {
    height: 100px;
    width: 100px;
    float: left;
}

.parameters-sidebar__logo-text {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}


.parameters-category__badge {
    position: absolute;
    right: 2px;
    top: calc(50% - 17px);
    width: 32px;
    height: 32px;
    padding-top: 10px;
    padding-left: 6px;
    font-size: 1.5rem;
    background: #314e56;
}

